/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #454444;
    color: #000000;
}

header {
    background-color: #333;
    color: #050505;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Contact page styles */
.contact-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    color: #333;
}

.contact-section p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.contact-buttons {
    margin-top: 20px;
}

.contact-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #555;
}
@media (max-width: 600px) {
    main {
      padding: 10px;
    }
  
    nav ul {
      display: flex;
      flex-direction: column;
    }
  
    nav ul li {
      margin: 5px 0;
    }
  }
  
  @media (orientation: portrait) {
    .contact-section {
      width: 90%;
    }
  }
  
  @media (orientation: landscape) {
    .contact-section {
      width: 60%;
    }
  }
  @media (max-width: 1024px) {
    /* Adjust layout and styling for desktop browser window in portrait orientation */
    header {
      padding: 10px;
    }
  
    main {
      padding: 10px;
    }
  
    nav ul {
      display: flex;
      flex-direction: column;
    }
  
    nav ul li {
      margin: 5px 0;
    }
  
    .contact-section {
      width: 90%;
    }
  }
  #image-container {
    text-align: center;
}

#image-container img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

#image-container.expanded img {
    max-width: 90vw;
    max-height: 90vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
  @media (max-width: 768px) {
    /* Adjust layout and styling for mobile phone browser in portrait orientation */
    header {
      padding: 10px;
    }
  
    main {
      padding: 10px;
    }}